<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= name %></title>

		<script src="resources/lib/es6-shim.js"></script>
		<script src="resources/lib/angular2-polyfills.js"></script>
		<script src="resources/lib/system.src.js"></script>
		<script src="resources/lib/Rx.js"></script>
		<script src="resources/lib/angular2.dev.js"></script>

	</head>
	<body>
		
		<app>Loading...</app>

		<script>
			System.config({
				packages: {
					app: {
						format: 'register',
						defaultExtension: 'js'
					}
				}
			});
			System.import('./core/bootstrap/Bootstrap.js')
				.then(null, console.error.bind(console));
	 	</script>

	</body>
</html>
    